body {
    background-color: black;
}

.container {
    background-color: green;
    width: 900px;
    height: 600px;
    margin: 50px auto;
}

.blue {
    background: darkblue;
    float: left;
    width: 33.33%;
    height: 100%;
}

.white {
    background: white;
    width: 66.66%;
    height: 50%;
    float: left;
}

.red {
    background: red;
    width: 66.66%;
    height: 50%;
    float: left;
}

.star-container {
    /*border: 1px solid black;*/
    position: relative;
    left: 50px;
    top: calc(50% - 100px);
}

.star {
    margin: 50px 0;
    position: relative;
    display: block;
    color: white;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid white;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
}

.star:before {
    border-bottom: 80px solid white;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
}

.star:after {
    position: absolute;
    display: block;
    color: white;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid white;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
}

