* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: white;
}

nav {
    height: 4.25em;
    background: #B4B4B4;
}

ul {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}

.links {
    font-family: "Work Sans";
    font-weight: bold;
    margin: 1em;
}

.logo {
    font-family: Montserrat;
    font-size: 3em;
    margin: 0 auto;
}