body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    border: 1px solid rgb(198, 204, 219);
    border-radius: 5px;
    padding: .5em;
    margin: .5em;
}

.message-info {
    color: rgb(40, 25, 127);
    background-color: rgb(194, 213,	255);
}

.message-success {
    color: rgb(34, 109, 60);
    background-color: rgb(198, 242,	209);
}

.message-warning {
    color: rgb(135, 119, 32);
    background-color: rgb(251, 252,	189);
}

.message-error {
    color: rgb(115, 18, 43);
    background-color: rgb(248, 200,	206);
}
