:root {
    --bg-info: rgb(194, 213, 255);
    --text-info: rgb(40, 25, 127);

    --bg-success: rgb(198, 242,	209);
    --text-success: rgb(34, 109, 60);

    --bg-warning: rgb(251, 252,	189);
    --text-warning: rgb(135, 119, 32);

    --bg-error: rgb(248, 200, 206);
    --text-error: rgb(115, 18, 43);
}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    border: 1px solid rgb(198, 204, 219);
    border-radius: 5px;
    padding: .5em;
    margin: .5em;
}

.message-info {
    color: var(--text-info);
    background-color: var(--bg-info);
}

.message-success {
    color: var(--text-success);
    background-color: var(--bg-success);
}

.message-warning {
    color: var(--text-warning);
    background-color: var(--bg-warning);
}

.message-error {
    color: var(--text-error);
    background-color: var(--bg-error);
}
