body {

    background-image: url('../img/switz-bg.jpeg');
/*!!!!    Investigate opacity of background images*/
    background-size: 35%;
    background-color: lightblue;
    background-position: 50% 15%;
    background-repeat: no-repeat;
    font-family: "Tahoma", "Helvetica", "Arial", Sans-Serif;
/*!!!!    Investigate Google Fonts*/

}

/* --------------------------------- HEADING STYLING --------------------------------*/

.main-header {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: darkblue;
    text-decoration: underline;
}


/* --------------------------------- LIST STYLING --------------------------------*/

ul {
    list-style-type: circle;
}

/* --------------------------------- IMAGE STYLING --------------------------------*/

img {
    opacity: .5;
    transition: 1s ease;
    border-radius: 25px;
}

img:hover {
    opacity: 1;
}

/* --------------------------------- DEFAULT TABLE STYLING --------------------------------*/

table, th, td {
    padding: .5em;
    font-size: 1.1em;
}

table {
    margin: auto;
}

section {
    text-align: center;
}

section.hover-table {
    width: 40%;
    margin: auto;
    text-align: center;
}


/* --------------------------------- HOVER STYLING --------------------------------*/

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
    text-decoration: underline;
}

.hover-table:hover, .hover-effect:hover {
    background-color: azure;
    border-radius: 25px;
    transition: 1s ease;
}

tr:hover>td:first-child {
    font-weight: bold;
    text-decoration: underline;
    color: cornflowerblue;
}

section.hover-effect {
    width: 25%;
}

/* --------------------------------- LINK STYLING --------------------------------*/

a {
    color: deepskyblue;
}

a:hover {
    color: aliceblue;
}

a:active {
    color: rebeccapurple;
}

/*a:visited {*/
/*    color: mediumpurple;*/
/*}*/

/* --------------------------------- SHARED/OTHER CLASS SELECTORS --------------------------------*/



